html, body {
    margin: 0;
    padding: 0;
}

.background {
  visibility: hidden;
  
  position: absolute;
  left: 0px;
  up: 0px;
  
  z-index: 0;
}

canvas {
    display: block;
    position: absolute;
    left: 0px;
    up: 0px;
    
    z-index: 150;
}

#container {
  z-index: 100;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('img/pageLoader.gif') 50% 50% no-repeat rgb(249,249,249);
  opacity: .8;
}