html, body {
    margin: 0;
    padding: 0;
}

.background {
  visibility: hidden;
  
  position: absolute;
  left: 0px;
  up: 0px;
  
  z-index: 0;
}

canvas {
    display: block;
    position: absolute;
    left: 0px;
    up: 0px;
    
    z-index: 150;
}

#container {
  z-index: 100;
}
